.categories{
    color: #ffff;
    line-height: 1;
    padding: 0 15px;
}
.live-content img{
    max-width: 290px;
}
.lives{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.live-content{
    background-color: #222327;
    padding-bottom: 10px;
    border-radius: 5px;
}